.notes-lay{
    width: 58%;
    height: 600px;
    float: right;
    border: none;
    margin-right: 20px;
    opacity: 0.8;
    background-size: 22px 22px;
    background-image:  repeating-linear-gradient(0deg, #7cc4cf, #7cc4cf 1.8px, #f7f7e6 1.8px, #f7f7e6);
}


input{
    display: inline;
    margin-top: 20px;
}

.note-area{
    margin-top: 40px;
}

.note-area textarea{
    height: 400px;
    line-height: 22px;
    margin-top: 14px;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.735);
    font-family: "Baloo 2", cursive;
    font-weight: lighter;
    text-transform: capitalize;
}

textarea:focus{
    outline: none;
}



.title{
    width: 500px;
    outline: none;
}

.title input{
    background: rgb(249, 249, 249);
    height: 35px;
    margin-top: 17px;
    text-align: center;
    font-family: "Baloo 2", cursive;
    font-weight: 700;
    text-transform: capitalize;
}

.date{
    margin-left: 450px;
}

.date input{
    background: white;
    font-family: "Baloo 2", cursive;
}

.noteButton{
    border: solid rgb(126, 210, 206);
    color: rgb(83, 77, 77);
    margin-left: 220px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
}
