

img{
    height: 200px;
    width: 400px;
    padding: 30px;
    
}

.category{
    background:rgba(255, 255, 255, 0.251);
    border: none;
    margin-bottom: 10px;
    letter-spacing: 3px;
    color: rgb(16, 143, 143);
    border-radius: 7px;
    width: 70%;
    text-align: center;
}

select:focus{
    background: none;
    outline: none;
}

option{
    background-color: rgba(110, 232, 232, 0.58);
    outline: none;
    border: none;
}

.first, .third, .fifth{
 background-color: #68616070;
 border-radius: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 margin: 7px;
 color: whitesmoke;
 font-size: small;
}

.second, .fourth{
  background-color: #c1c1c19a;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 7px;
  color: rgb(143, 160, 161);
  font-size: small;
}

h3{
    font-weight: bolder;
}


