.ChatList {
    background-color: #f6f6f6;
    height: 500px;
    padding: 5px;
    overflow-y: auto;
    padding-top: 20px;
}

.ChatList p {
    margin-bottom: 0.5rem;
}

.ChatList span {
    display: inline-block;
    max-width: 90%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.ChatList .sender {
    text-align: right;
}

.ChatList .receiver {
    text-align: left;
}

.ChatList .sender span {
    padding: 3px 5px;
    background-color: lightblue;
}

.ChatList .receiver span {
    padding: 3px 5px;
    background-color: lightgreen;
}

.ChatList .receiver .receivername {
    display: inline-flex;
    margin-left: 1em;
}